# Python
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
.venv/

# Django
db.sqlite3
staticfiles/

# Environment dan kredensial
.env
.env.prod

# OS dan editor
.DS_Store
Thumbs.db
.idea/
.vscode/